.content {
    width: 100%;
    padding: 15px;
    height: 100%;
    top: 15%;
    border-radius: 5px;
    background: linear-gradient(180deg, #F9F9F9 0%, #CEE7FF 100%);
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.25);
}

body {
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.bkbtn {
    background-color: white;
}

#guestbook {
    height: fit-content;
}