.content {
    width: 100%;
    padding: 15px;
    height: 100%;
    top: 15%;
    border-radius: 5px;
    background: linear-gradient(180deg, #F9F9F9 0%, #CEE7FF 100%);
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.25);
}

body {
    margin-left: 15% !important;
    margin-right: 15% !important;
}

.bkbtn {
    font-family: var(--header);
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    height: 35px;
    width: 10em;
    padding: 13px 28px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

border: 1.5px solid #DDD;
background: linear-gradient(180deg, #FFF -17.07%, #BABABA 186.03%);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.bkbtn:hover {
    border: 1.5px solid #BBDDF4;
    background: linear-gradient(180deg, #C0E6FF 0%, #7ABFFF 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#guestbook {
    height: fit-content;
}

.postBtn {
    min-height: 50px;
    text-align: left;
    font-family: var(--header);
    padding-left: 20px;
    width: 100%;
    height: 100%;

    border-radius: 10px 10px 0 0;
    border: 1.5px solid #DDD;
    background: linear-gradient(180deg, #FFF -17.07%, #BABABA 186.03%);
}

.postBtn:hover {
    color: white;
    width: 100%;
    height: 100%;
    border: 1.5px solid #BBDDF4;
    background: linear-gradient(180deg, #C0E6FF 0%, #7ABFFF 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); 
}

.postPreview {
    padding-left: 30px;
    min-height: 100px;
    border-radius: 0 0 10px 10px;
    border: 1.5px solid #DDD;
    background: linear-gradient(194deg, #FFF -17.07%, #FFFCFC 186.03%);
}