@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.container {
    margin-bottom: 0px;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    height: fit-content;
}

marquee {
    position: relative;
    top: 0px;
}

.sidebar {
    margin-left: 20px;
    width: 350px;
    padding: 15px;
    height: 100%;
    top: 15%;
    border-radius: 5px;
    background: linear-gradient(180deg, #F9F9F9 0%, #CEE7FF 100%);
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.sidebarContent {
    margin: 10px;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 100%;
}

.stickers {
    display: flex;
    width: 408px;
    height: 116px;
    padding: 101px 250px 111px 250px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-shrink: 0;

    border-radius: 5px;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1.5;
  /* your chat content */
}

.bordered-div {
    font-family: "Patrick Hand";
    font-weight: 400;
    font-size: 17px;
    position: inherit;
    color: black;
    background: linear-gradient(180deg, #DDF0FF 0%, #B4DEFF 100%);
    border: 2px solid #7195b0; /* Border width, style, and color */
    border-radius: 150px; /* Rounded corners */
    padding: 10px; /* Optional: Adds space inside the border */
    bottom: 5px;
    text-align: center;
    width: 45%;
}

.sirkorgo-img {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}