<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="icon" type="image/x-icon" href="/src/img/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: "sirkorgo.com" }}</title>
    <link rel="stylesheet" href="/src/css/global.css">
  </head>
  <body>
    {% include navbar.html %}

    <div class="ad-left">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8562550888898510"
          crossorigin="anonymous"></script>
      <!-- sidebar ad -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8562550888898510"
          data-ad-slot="6481348797"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <main id="content">
      {{ content }}
    </main>

    <div class="ad-right">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8562550888898510"
          crossorigin="anonymous"></script>
      <!-- sidebar right -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8562550888898510"
          data-ad-slot="5482594915"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <script src="https://cursor-party.sirkorgo.partykit.dev/cursors.js"></script>
    {% include footer.html %}
  </body>
</html>