<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="icon" type="image/x-icon" href="/src/img/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: "sirkorgo.com" }}</title>
    <link rel="stylesheet" href="/src/css/global.css">
  </head>
  <body>
    {% include navbar.html %}

    <div class="ad-left">
      <!-- Left ad script here -->
    </div>

    <main id="content">
      {{ content }}
    </main>

    <div class="ad-right">
      <!-- Right ad script here -->
    </div>

    <script src="https://cursor-party.sirkorgo.partykit.dev/cursors.js"></script>
    {% include footer.html %}
  </body>
</html>