<!--In Post Content-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="/src/img/favicon.ico">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/src/css/global.css">
        <link rel="stylesheet" href="/src/css/content.css">
    </head>

    <body>
    {% include navbar.html %}
    <button class="bkbtn" onclick="location.href = '/blog';">← Go Back</button>
    <main class="content">
        <h1>{{ page.title }}</h1>
        <p>Posted on {{ page.date | date_to_string }} by {{ page.author }}</p>

        {{ content }}
    </main>
    <script src="https://cursor-party.sirkorgo.partykit.dev/cursors.js"></script>
    </body>
</html>